body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    height: 100vw;
}

.header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 600px;
    top: 0;
    right: 0;
    left: 0;
    
}

.map{
 position: absolute;
 width: 100vw;
 height: 600px;
 top: 0;
 left: 0;
 right: 0;
 align-items: center;
 background-color: black;
 
}

.home{
    display: flex;
    align-items: center;
    position: absolute;
    left: 12%;
    display: inline;
    top: 0;
    animation-name: from_left;
    animation-duration: 1s;
}
@keyframes from_left{
    0%{
        left: 0;
    }
    100%{
        left: 12%;
    }
}

.back_to_home{
    border-radius: 0%;
    border: 0;
    background-color: black;
    color: white;
    height: 40px;
    padding: 30px auto;
    font-family: 'Big Shoulders Display';
    font-size: larger;
    width: 120px;
}
.back_to_home:hover{
    cursor: pointer;
    background-color: #D5966C ;
}

.left_arrow{
    border-radius: 0%;
    border: 0;
    background-color: #D5966C;
    height: 40px;
    padding: 50px auto;
    width: 30px;
}
.left_arrow:hover{
    cursor: pointer;
}
.arrow{
    height: 18px;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 548px;
    border: 0;
    top: 600px;
    
    left: 0;
    right: 0;
    background-color: black;
    width: 100vw;
}

.our_location{
    position: absolute;
    height: 40vh;
    left: 12vw;
    right: 60vw;
    top: 30%;

    /* Heading (L) */

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900px;
    font-size: 70px;
    line-height: 70px;
    /* or 100% */

    text-transform: uppercase;

/* White */

color: #FFFFFF;
animation-name: from_left1;
animation-duration: 1s;
}
@keyframes from_left1{
    0%{
        left: 0;
    }
    100%{
        left: 12vw;
    }
}

.right_text{
    position: absolute;
    left: 55vw;
    right: 10.56%;
    top: 0%;
    bottom: 50.63%;
    
}


.King{
    position: absolute;
    height: 36px;
    left: 0%;
    right: 21.35%;
    top: calc(64% - 36px/2 - 60px);

    /* Heading (S) */

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height, or 100% */

    text-transform: uppercase;

    /* Gold */

    color: #D5966C;

}

.newport{
    position: absolute;
    height: 96px;
    left: 0%;
    right: 0%;
    top: calc(69% - 96px/2 + 30px);

    /* Body (M) */

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    /* or 145% */


    /* White */

    color: #FFFFFF;
}

.our_new{
    position: absolute;
    height: 128px;
    left: 0%;
    right: 0%;
    top: calc(95% - 128px/2 + 94px);

    /* Body (M) */

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    /* or 145% */


    /* White */

    color: #FFFFFF;
    overflow: hidden;

}

.footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    top: 1148px;
    height: 30vh;
    left: 0;
    right: 0;
    background-color: #D5966C;
    width: 100vw;
}

.modern{
    position: absolute;
    left: 12%;
    right: 68.47%;
    top: calc(70% - 140px/2 - 88px);
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900px;
    font-size: 50px;
    line-height: 50px;
    /* or 156% */
    text-transform: uppercase;

    /* White */

    color: black;
    animation-name: modern_left;
    animation-duration: 1s;
}
@keyframes modern_left{
    0%{
        left: 0;
    }
    100%{
        left: 12%
    }
}

.the_modern{
    position: absolute;
    height: 84px;
    left: 35.1%;
    right: 40%;
    top: calc(45% - 84px/2);

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    /* or 156% */


    /* Almost Black */

    color: #151515;
}

.socials{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 80%;
    top: calc(58% - 84px/2);
    display: inline;
}

.facebook{
    color: #151515;
    fill: black;
    filter: brightness(0);   
}
.facebook:hover{
    cursor: pointer;
    filter: invert(0.1) sepia(0) saturate(20) hue-rotate(0deg) brightness(1);
}

.instagram{
    position: relative;
    left: 10%;
    color: #151515;
    filter: brightness(0);
    
}
.instagram:hover{
    cursor: pointer;
    filter: invert(0.1) sepia(0) saturate(20) hue-rotate(0deg) brightness(1);
}

.twitter{
    position: relative;
    left: 20%;
    filter: brightness(0);
}
.twitter:hover{
    cursor: pointer;
    filter: invert(0.1) sepia(0) saturate(20) hue-rotate(0deg) brightness(1);
}



@media (max-width: 768px){
    .header{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 30vh;
        top: 0;
        right: 0;
        left: 0;
        
    }
    
    .map{
     position: absolute;
     width: 100vw;
     height: 30vh;
     top: 0;
     left: 0;
     right: 0;
     align-items: center;
     background-color: black;
     
    }
    
    .home{
        display: flex;
        align-items: center;
        position: absolute;
        left: 5vw;
        display: inline;
        top: 0;
    
    }
    .back_to_home{
        border-radius: 0%;
        border: 0;
        background-color: black;
        color: white;
        height: 40px;
        padding: 30px auto;
        font-family: 'Big Shoulders Display';
        font-size: larger;
        width: 120px;
    }
    .back_to_home:hover{
        cursor: pointer;
    }
    
    .left_arrow{
        border-radius: 0%;
        border: 0;
        background-color: #D5966C;
        height: 40px;
        padding: 50px auto;
        width: 30px;
    }
    .left_arrow:hover{
        cursor: pointer;
    }
    .arrow{
        height: 18px;
    }
    
    .body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 50vh;
        border: 0;
        top: 30vh;
        
        left: 0;
        right: 0;
        background-color: black;
        width: 100vw;
    }
    
    .our_location{
        position: absolute;
        height: 40vh;
        left: 5vw;
        right: 60vw;
        top: 40%;
    
        /* Heading (L) */
    
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900px;
        font-size: 40px;
        line-height: 40px;
        /* or 100% */
    
        text-transform: uppercase;
    
    /* White */
    
    color: #FFFFFF;
    }
    
    .right_text{
        position: absolute;
        left: 55vw;
        right: 8.56%;
        top: 0%;
        bottom: 50.63%;
        
    }
    
    .King{
        position: absolute;
        height: 36px;
        left: 0%;
        right: 21.35%;
        top: calc(64% - 36px/2 - 60px);
    
        /* Heading (S) */
    
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        /* identical to box height, or 100% */
    
        text-transform: uppercase;
    
        /* Gold */
    
        color: #D5966C;
    
    }
    
    .newport{
        position: absolute;
        height: 96px;
        left: 0%;
        right: 0%;
        top: calc(69% - 96px/2 + 30px);
    
        /* Body (M) */
    
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        /* or 145% */
    
    
        /* White */
    
        color: #FFFFFF;
    }
    
    .our_new{
        position: absolute;
        height: 128px;
        left: 0%;
        right: 0%;
        top: calc(95% - 128px/2 + 94px);
    
        /* Body (M) */
    
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        /* or 145% */
    
    
        /* White */
    
        color: #FFFFFF;
        overflow: hidden;
    
    }
    
    .footer{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0;
        top: 80vh;
        height: 20vh;
        left: 0;
        right: 0;
        background-color: #D5966C;
        width: 100vw;
    }
    
    .modern{
        position: absolute;
        left: 5vw;
        right: 68.47%;
        top: 10px;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900px;
        font-size: 20px;
        line-height: 20px;
        /* or 156% */
        text-transform: uppercase;
    
        /* White */
    
        color: black;
    }
    
    .the_modern{
        position: absolute;
        height: 84px;
        left: 25.1%;
        right: 30%;
        top: calc(35% - 84px/2);
    
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        /* or 156% */
    
    
        /* Almost Black */
    
        color: #151515;
    }
    
    .socials{
        position: absolute;
        width: 69px;
        height: 10px;
        left: 73%;
        top: calc(40% - 84px/2);
        display: inline;
    }
    
    .facebook{
        color: #151515;
        fill: black;
        filter: brightness(0);   
    }
    .facebook:hover{
        cursor: pointer;
    }
    
    .instagram{
        position: relative;
        left: 5%;
        color: #151515;
        filter: brightness(0);
    }
    .instagram:hover{
        cursor: pointer;
    }
    
    .twitter{
        position: relative;
        left: 10%;
        filter: brightness(0);
    }
    .twitter:hover{
        cursor: pointer;
    }
}

@media (max-width: 375px) {
    .header{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 50vh;
        top: 0;
        right: 0;
        left: 0;
        
    }
    
    .map{
     position: absolute;
     width: 100vw;
     height: 30vh;
     top: 0;
     left: 0;
     right: 0;
     align-items: center;
     background-color: black;
     
    }
    
    .home{
        display: flex;
        align-items: center;
        position: absolute;
        left: 10vw;
        display: inline;
        top: 0;
    
    }
    .back_to_home{
        border-radius: 0%;
        border: 0;
        background-color: black;
        color: white;
        height: 40px;
        padding: 30px auto;
        font-family: 'Big Shoulders Display';
        font-size: larger;
        width: 120px;
    }
    .back_to_home:hover{
        cursor: pointer;
    }
    
    .left_arrow{
        border-radius: 0%;
        border: 0;
        background-color: #D5966C;
        height: 40px;
        padding: 50px auto;
        width: 30px;
    }
    .left_arrow:hover{
        cursor: pointer;
    }
    .arrow{
        height: 18px;
    }
    
    .body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 40vh;
        border: 0;
        top: 30vh;
        
        left: 0;
        right: 0;
        background-color: black;
        width: 100vw;
    }
    
    .our_location{
        position: absolute;
        height: 40vh;
        left: 10vw;
        right: 20vw;
        top: 10px;
    
        /* Heading (L) */
    
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900px;
        font-size: 30px;
        line-height: 30px;
        /* or 100% */
    
        text-transform: uppercase;
    
    /* White */
    
    color: #FFFFFF;
    }
    

    .right_text{
        position: absolute;
        left: 10vw;
        right: 20.56%;
        top: 10vh;
        bottom: 50.63%;
        
    }
    
    .King{
        position: absolute;
        height: 36px;
        left: 0%;
        right: 21.35%;
        top: calc(40% - 36px/2 - 60px);
    
        /* Heading (S) */
    
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
        /* identical to box height, or 100% */
    
        text-transform: uppercase;
    
        /* Gold */
    
        color: #D5966C;
    
    }
    
    .newport{
        position: absolute;
        height: 20vh;
        left: 0%;
        right: 10%;
        top: calc(40% - 96px/2 + 30px);
    
        /* Body (M) */
    
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        /* or 145% */
    
    
        /* White */
    
        color: #FFFFFF;
    }
    
    .our_new{
        position: absolute;
        height: 30vh;
        left: 0%;
        right: 0%;
        top: calc(90% - 128px/2 + 94px);
    
        /* Body (M) */
    
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        /* or 145% */
    
    
        /* White */
    
        color: #FFFFFF;
        overflow: hidden;
    
    }

    .our_location br{
        display: none;
    }
    
    .footer{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0;
        top: 70vh;
        height: 30vh;
        left: 0;
        right: 0;
        background-color: #D5966C;
        width: 100vw;
    }
    
    .modern{
        position: absolute;
        left: 10vw;
        right: 40.47%;
        top: 5px;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 600px;
        font-size: 20px;
        line-height: 20px;
        /* or 156% */
        text-transform: uppercase;
    
        /* White */
    
        color: black;
    }
    
    .the_modern{
        position: absolute;
        height: 84px;
        left: 10vw;
        right: 10vw;
        top: calc(45% - 84px/2);
    
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        /* or 156% */
    
    
        /* Almost Black */
    
        color: #151515;
    }
    
    .socials{
        position: absolute;
        width: 80px;
        height: 20px;
        left: 10vw;
        top: calc(95% - 84px/2);
        display: inline;
    }
    
    .facebook{
        color: #151515;
        fill: black;
        filter: brightness(0);   
    }
    .facebook:hover{
        cursor: pointer;
    }
    
    .instagram{
        position: relative;
        left: 10%;
        color: #151515;
        filter: brightness(0);
    }
    .instagram:hover{
        cursor: pointer;
    }
    
    .twitter{
        position: relative;
        left: 20%;
        filter: brightness(0);
    }
    .twitter:hover{
        cursor: pointer;
    }
    
}