/*body {
    margin: 0;
    border: 0;
    right: 0;
    left: 0;
    padding: 0;
}

.header {
    height: 800px;
}

.header_rectangle {
    position: absolute;
    height: 800px;
    min-width: 450px;
    background-color: black;
}

.header_pic {
    position: absolute;
    height: 800px;
    min-width: 540px;
    left: 450px;
    !* border: #151515 solid 10px; *!

    animation-name: roll_right;
    animation-duration: 3s;
}*/

@keyframes roll_right {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}


/*.image-hero {
    width: 100%;
    height: 100%;
}

.header_text {
    position: absolute;
    height: 300px;
    left: 242px;
    width: 400px;
    top: 120px;
}*/

/*.header_modern {
    position: absolute;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    !* or 92% *!

    text-transform: uppercase;

    !* White *!

    color: #FFFFFF;
    mix-blend-mode: difference;
}*/

/*.the_arts {
    position: absolute;
    height: 160px;
    left: 900px;
    width: 250px;
    top: 170px;

    !* Body (M) *!

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    !* or 145% *!


    !* Dark Grey *!

    color: #444444;
}

.location {
    !* border: #151515 solid 20px; *!
    position: absolute;
    display: flex;
    width: 300px;

    left: 900px;
    top: 390px;
    animation-name: from_right;
    animation-duration: 3s;
}*/

@keyframes from_right {
    0% {
        right: -200px;
    }
    100% {
        right: 0;
    }
}

.our_location {
    /* border-radius: 0%;
    border: 0; */
    background-color: black;
    color: white;
    height: 37px;
    /* padding: 30px auto; */
    font-family: 'Big Shoulders Display';
    font-size: larger;
    /* width: 110px; */
    text-transform: uppercase;
    border: none;
    width: 130px;
    height: 50px;
}

.our_location:hover {
    cursor: pointer;
    background-color: #D5966C;
}

.right_arrow_container {
    display: flex;
    background-color: #D5966C;
    height: 50px;
    width: 40px;
    place-items: center;
    align-items: center;
    justify-content: center;

}

.right_arrow_container:hover {
    cursor: pointer;
    background-color: #151515;
}

.right_arrow {
    width: 20px;
    height: 20px;
}


/*.body {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}*/

.middle_container {
    position: relative;
    width: 600px;
    height: 700px;
    background-color: white;
    margin: 100px auto;
}

/*.top_left_container {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 0;
    top: 0;
    background-color: none;
}*/

/*.your_day {
    position: absolute;
    height: 120px;
    left: 0%;
    right: 0;
    top: calc(40% - 120px / 2 - 80px);

    !* Heading (M) *!

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    !* or 100% *!

    text-transform: uppercase;

    !* Almost Black *!

    color: #151515;

}*/

/*.wander {

    margin-top: 120px;
    height: 128px;
    left: 0%;
    right: 40px;
}*/

.top_right_container {
    position: absolute;
    width: 60%;
    height: 30%;
    background-color: #D5966C;
    left: 40%;
}

.image-grid-1 {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.bottom_left_container {
    position: absolute;
    width: 55%;
    height: 68.5%;
    top: 31.5%;
    background-color: #D5966C;
}

.image-grid-2 {
    width: 100%;
    height: 100%;
}

/*
.bottom_middle_container {
    position: absolute;
    top: 31.5%;
    background-color: none;
    left: 57.5%;
    width: 42.5%;
    height: 33%;
}
*/

.image-grid-3 {
    height: 100%;
    width: 100%;
}

/*.bottom_right_container {
    position: absolute;
    left: 57.5%;
    background-color: black;
    height: 34%;
    width: 42.5%;
    top: 66%;
}*/

/*.come {
    position: absolute;
    height: 120px;
    left: 7%;
    right: 0%;


    !* Heading (M) *!

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    !* or 100% *!

    text-transform: uppercase;

    !* White *!

    color: #FFFFFF;
}

.we {
    position: absolute;
    height: 96px;
    left: 7%;
    right: 15%;
    top: calc(50% - 96px / 2 + 76px);

    !* Body (M) *!

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    !* or 145% *!


    !* White *!

    color: #FFFFFF;
}*/

/*.footer {
    position: relative;
    width: 100%;
    height: 234px;
    background-color: black;

    left: 0;

}*/


.footer_left {
    position: absolute;
    left: 230px;
    top: 30px;
    width: 150px;
    height: 100px;

}

/*.footer_modern {
    position: absolute;
    height: 176px;

    !* Heading (XL) *!

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 35px;
    !* or 92% *!

    text-transform: uppercase;

    !* White *!

    color: white;
}*/

.footer_middle {
    position: absolute;
    width: 300px;
    height: 100px;
    left: 35%;
    top: 60px;
}

/*.the_modern {
    position: relative;
    height: 84px;
    right: 0%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    !* or 156% *!


    !* White *!

    color: #FFFFFF;
}*/


.socials {
    position: absolute;
    left: 72%;
    top: 60px;
}

.facebook {

}

.facebook:hover {
    cursor: pointer;
    fill: #D5966C;
    filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.81);

}

.instagram {
    margin-left: 20px;
}

.instagram:hover {
    cursor: pointer;
    fill: #D5966C;
    filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.81);
}

.twitter {
    margin-left: 20px;

}

.twitter:hover {
    cursor: pointer;
    fill: #D5966C;
    filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.81);
}


/*@media (max-width: 820px) {
    body {
        margin: 0px;
        border: 0;
        right: 0;
        left: 0;
        padding: 0;

    }

    .header {
        height: 700px;


    }

    .header_rectangle {
        position: absolute;
        height: 700px;
        width: 0;
        background-color: black;
        display: none;
    }

    .header_pic {
        position: absolute;
        height: 700px;
        width: 437px;
        left: 0px;
        !* border: #151515 solid 10px; *!

        animation-name: roll_right;
        animation-duration: 3s;
    }


    .image-hero {
        width: 100%;
        height: 100%;
    }

    .header_text {
        position: absolute;
        height: 300px;
        left: 470px;
        width: 400px;
        top: 30px;
    }

    .header_modern {
        position: absolute;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 88px;
        !* or 92% *!

        text-transform: uppercase;

        !* White *!

        color: black;
        mix-blend-mode: normal;
    }

    .the_arts {
        position: absolute;
        height: 160px;
        left: 470px;
        width: 250px;
        top: 320px;

        !* Body (M) *!

        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        !* or 145% *!


        !* Dark Grey *!

        color: #444444;
    }

    .location {
        !* border: #151515 solid 20px; *!
        position: absolute;
        display: flex;
        width: 300px;

        left: 470px;
        top: 470px;
        animation-name: from_right;
        animation-duration: 3s;
    }


    .our_location {
        !* border-radius: 0%;
        border: 0; *!
        background-color: black;
        color: white;
        height: 37px;
        !* padding: 30px auto; *!
        font-family: 'Big Shoulders Display';
        font-size: larger;
        !* width: 110px; *!
        text-transform: uppercase;
        border: none;
        width: 130px;
        height: 50px;
    }

    .our_location:hover {
        cursor: pointer;
        background-color: #D5966C;
    }

    .right_arrow_container {
        display: flex;
        background-color: #D5966C;
        height: 50px;
        width: 40px;
        place-items: center;
        align-items: center;
        justify-content: center;

    }

    .right_arrow_container:hover {
        cursor: pointer;
        background-color: #151515;
    }

    .right_arrow {
        width: 20px;
        height: 20px;
    }


    .body {
        position: relative;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .middle_container {
        position: relative;
        width: 600px;
        height: 700px;
        background-color: white;
        margin: 100px auto;
    }

    .top_left_container {
        position: absolute;
        width: 220px;
        height: 270px;
        left: 0;
        top: 0;
        background-color: none;
    }

    .your_day {
        position: absolute;
        height: 120px;
        left: 0%;
        right: 0;
        top: calc(40% - 120px / 2 - 80px);

        !* Heading (M) *!

        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 50px;
        !* or 100% *!

        text-transform: uppercase;

        !* Almost Black *!

        color: #151515;

    }

    .wander {

        margin-top: 120px;
        height: 128px;
        left: 0%;
        right: 40px;
    }

    .top_right_container {
        position: absolute;
        width: 60%;
        height: 30%;
        background-color: #D5966C;
        left: 40%;
    }

    .image-grid-1 {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .bottom_left_container {
        position: absolute;
        width: 55%;
        height: 68.5%;
        top: 31.5%;
        background-color: #D5966C;
    }

    .image-grid-2 {
        width: 100%;
        height: 100%;
    }

    .bottom_middle_container {
        position: absolute;
        top: 31.5%;
        background-color: none;
        left: 57.5%;
        width: 42.5%;
        height: 33%;
    }

    .image-grid-3 {
        height: 100%;
        width: 100%;
    }

    .bottom_right_container {
        position: absolute;
        left: 57.5%;
        background-color: black;
        height: 34%;
        width: 42.5%;
        top: 66%;
    }

    .come {
        position: absolute;
        height: 120px;
        left: 7%;
        right: 0%;


        !* Heading (M) *!

        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 60px;
        !* or 100% *!

        text-transform: uppercase;

        !* White *!

        color: #FFFFFF;
    }

    .we {
        position: absolute;
        height: 96px;
        left: 7%;
        right: 15%;
        top: calc(50% - 96px / 2 + 76px);

        !* Body (M) *!

        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        !* or 145% *!


        !* White *!

        color: #FFFFFF;
    }

    .footer {
        position: relative;

        height: 234px;
        background-color: black;

        left: 0;

    }


    .footer_left {
        position: absolute;
        left: 100px;
        top: 30px;
        width: 150px;
        height: 100px;

    }

    .footer_modern {
        position: absolute;
        height: 176px;

        !* Heading (XL) *!

        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 35px;
        !* or 92% *!

        text-transform: uppercase;

        !* White *!

        color: white;
    }

    .footer_middle {
        position: absolute;
        width: 300px;
        height: 100px;
        left: 35%;
        top: 60px;
    }

    .the_modern {
        position: relative;
        height: 84px;
        right: 0%;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        !* or 156% *!


        !* White *!

        color: #FFFFFF;
    }


    .socials {
        position: absolute;
        left: 82%;
        top: 60px;
    }

    .facebook {

    }

    .facebook:hover {
        cursor: pointer;
        fill: #D5966C;
        filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.81);

    }

    .instagram {
        margin-left: 20px;
    }

    .instagram:hover {
        cursor: pointer;
        fill: #D5966C;
        filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.81);
    }

    .twitter {
        margin-left: 20px;

    }

    .twitter:hover {
        cursor: pointer;
        fill: #D5966C;
        filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.81);
    }
}*/
