.the_body{
    position: absolute;
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
       
}

.header{
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 0px;
}



.modern_art_gallery_1{
    position: absolute;
    height: 176px;
    left: 60.67%;
    right: -50.89%;
    top: calc(12%);
    
    /* Heading (XL) */
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    /* or 92% */
    
    text-transform: uppercase;
    
    /* White */
    
    color: #FFFFFF; 
      
}
.JAKARTA_ART_GALLERY{
    position: absolute;
    left: 0%;
    right: 64.71%;
    top: 0.12%;
    bottom: 0%;
    background-color: black;    
}

.The_arts{
    position: absolute;
    height: 160px;
    left: 67.55%;
    right: 10%;
    top: calc(22%);
    
    /* Body (M) */
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    /* or 145% */
    
    
    /* Dark Grey */
    
    color: #444444;
      
}
#Y{
    color: black;
}

.rectangle{
    position: absolute;
    left: 35.29%;
    right: 22.35%;
    top: 0%;
    bottom: 0%;
    
    background: url(Image.png);  
}





.body{
    position: absolute;
    width: 1110px;
    height: 1150px;
    left: 165px;
    top: 10px;  
}

.Your_Day{
    position: absolute;
width: 350px;
height: 280px;
left: 165px;
top: 1000px;
}

.your_day_font{
    position: absolute;
    height: 120px;
    left: 0%;
    right: 0%;
    top: calc(50% - 120px/2 - 80px);
    
    /* Heading (M) */
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */
    
    text-transform: uppercase;
    
    /* Almost Black */
    
    color: #151515; 
}

.wander{
    position: absolute;
    height: 128px;
    left: 0%;
    right: 0%;
    top: calc(50% - 128px/2 + 76px);
    
    /* Body (M) */
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    /* or 145% */
    
    
    /* Dark Grey */
    
    color: #444444;
      
}

.our_location{
    position: absolute;
width: 200px;
height: 72px;
left: 970px;
top: 414px;
  
}

.location{
    position: absolute;
    height: 24px;
    left: 15.69%;
    right: 17.16%;
    top: calc(10%);
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    
    letter-spacing: 3.63636px;
    
    /* White */
    text-transform: uppercase;
    
    color: #FFFFFF;    
}

.location_rec{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Almost Black */

background: #151515;
}

.location_arrow_rec{
    position: absolute;
width: 70px;
height: 72px;
left: 1130px;
top: 414px;
    
    /* Gold */
    
    background: #D5966C;
}

.location_arrow{
    position: relative;
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 0;
    top: 15px;
    left: 20px;
    
    
}

.body_top_right{
    position: absolute;
    width: 635px;
    height: 400px;
    left: 640px;
    top: 980px;
    
    background: url(Image.png);   
}

.body_down_left{
    position: absolute;
    width: 635px;
    height: 720px;
    left: 165px;
    top: 1410px;
    
    background: url(Image.png);      
}

.body_down_right{
    position: absolute;
    width: 445px;
    height: 377px;
    left: 830px;
    top: 1753px;
    
    /* Almost Black */
    
    background: #151515; 
}

.Come{
    position: absolute;
    height: 120px;
    left: 0%;
    right: 0%;
    top: calc(50% - 120px/2 - 64px);
    
    /* Heading (M) */
    
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */
    
    text-transform: uppercase;
    
    /* White */
    
    color: #FFFFFF;
      
}

.come_group{
    position: absolute;
    width: 350px;
    height: 248px;
    left: 30px;
    top: 0px;
       
}

.we_are{
    position: absolute;
height: 96px;
left: 0%;
right: 0%;
top: calc(50% - 96px/2 + 76px);

/* Body (M) */

font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 32px;
/* or 145% */


/* White */

color: #FFFFFF;
}

.lobby_pic{
    position: absolute;
    width: 445px;
    height: 313px;
    left: 830px;
    top: 1410px;
    
    background: url(Image.png);   
}

.footer{
    position: absolute;
    width: 100%;
    height: 244px;
    left: 0px;
    right: 0px;
    top: 2400px;
    margin: 0;
    padding: 0;
    
    /* Almost Black */
    
    background: #151515;  
}

.footer_modern{
    position: absolute;
height: 84px;
left: 19.1%;
right: 0%;
top: calc(10%);

font-family: 'Big Shoulders Display';
font-style: normal;
font-weight: 300;
font-size: 50px;
line-height: 50px;
/* or 156% */
text-transform: uppercase;

/* White */

color: #FFFFFF;

}

.footer_text{
    position: absolute;
    height: 84px;
    left: 41.1%;
    right: 32%;
    top: calc(22%);
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    
    
    /* White */
    
    color: #FFFFFF;
     
}

.facebook{
    position: absolute;
    left: 1330px;
    top: 100px;
       
}

.instagram{
    position: absolute;
    left: 1370px;
    top: 100px;
}

.twitter{
    position: absolute;
    left: 1410px;
    top: 100px; 
}